<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StadiaAPIKey</key>
	<string>$(STADIA_API_KEY)</string>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.iiiivaska.TraVerse.export.gpx</string>
		<string>com.iiiivaska.TraVerse.export.fit</string>
	</array>
</dict>
</plist>
